* {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  color: #293264;
  background-color: #f5f7fb;
  padding: 0;
  margin: 0;
}

.btn:hover {
  cursor: pointer;
}

.container {
  max-width: 70rem;
  padding: 6rem 2rem 0 2rem;
  margin: 0 auto 5rem;
}

/* Start Game */
.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-page-title {
  font-family: "Karla", sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
  color: #293264;
  margin: 0 0 2rem;
}

.start-game-tagline {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #293264;
  margin: 4.8rem 0 0 0;
}

.start-game-button {
  font-weight: 700;
  color: #ffffff;
  background: #4d5b9e;
  padding: 1.7rem 6rem;
  border: none;
  border-radius: 15px;
  margin-top: 3rem;
}

/* Game Page */
.game-page-title {
  font-family: "Karla", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #293264;
  margin: 0;
}

.check-button {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f5f7fb;
  width: 12rem;
  height: 3.5rem;
  background: #4d5b9e;
  border-radius: 10px;
  border: none;
  margin: 3rem auto 0;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.play-again-button {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f5f7fb;
  width: 12rem;
  height: 3.5rem;
  background: #4d5b9e;
  border: none;
  border-radius: 10px;
}

.score {
  font-size: 1.6rem;
}

/* Question */
.question-block {
  padding: 1.5rem 0;
  border-bottom: 1px solid #dbdef0;
}

.question {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: #293264;
  margin: 0;
}

.question-answers {
  display: flex;
  gap: 1.3rem;
  margin-top: 1.2rem;
  cursor: pointer;
}

.question-answer {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #293264;
  text-align: center;
  padding: 0.4rem 0.8rem;
  border: 1px solid #4d5b9e;
  border-radius: 10px;
}

/* Settings */
.settings {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.6rem;
  padding: 3rem 0 3rem 0;
  border-bottom: 1px solid #293264;
}

label {
  margin-right: 1rem;
}

input,
select {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  color: #293264;
  border: 1px solid #293264;
  border-radius: 10px;
  padding: 0.4rem;
}

.number-of-questions {
  width: 5rem;
  text-align: right;
}

.category-select {
  width: 20rem;
}
